.hack47-50-block-wrap {
  display: flex;
  width: 100%;
  margin-top: 1.875rem;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-start;
}

@media screen and (max-width: 767px) {
  .hack47-50-block-wrap {
    display: block;
    text-align: center;
  }
}

.hack47-50-block {
  width: 25%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .hack47-50-block {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.hack47-50-value-block {
  display: flex;
  padding: 0.3125rem;
  justify-content: center;
}

.hack47-50-value {
  font-size: 2.5rem;
  line-height: 1;
}

.hack49-price-amount {
  font-size: 2.5rem;
  line-height: 1;
}