.plan-fit-home-section {
  position: relative;
  left: 0%;
  top: 18%;
  right: 0%;
  bottom: auto;
  z-index: 99;

  display: flex;
  width: auto;
  max-width: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
}

@media screen and (min-width: 1920px) {
  .plan-fit-home-section {
    left: 0%;
    top: 18%;
    right: 0%;
    bottom: auto;

    width: auto;
    max-width: none;
    margin-top: 100px;
    align-self: flex-start;

    object-fit: cover;
  }
}

@media screen and (min-width: 1440px) {
  .plan-fit-home-section {
    max-width: none;
  }
}

@media screen and (min-width: 1280px) {
  .plan-fit-home-section {
    max-width: none;
  }
}

@media screen and (max-width: 991px) {
  .plan-fit-home-section {
    height: 64dvh;
    max-width: none;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .plan-fit-home-section {
    max-width: 64dvw;
    grid-column-gap: 20px;
    grid-row-gap: 12px;
  }
}

@media screen and (max-width: 479px) {
  .plan-fit-home-section {
    left: auto;
    right: auto;
    height: 65dvh;
    max-width: 80dvw;
  }
}

.content-10 {
  display: flex;
  width: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
}

@media screen and (max-width: 991px) {
  .content-10 {
    width: 64dvw;
  }
}

@media screen and (max-width: 767px) {
  .content-10 {
    width: 64dvw;
    grid-row-gap: 12px;
  }
}

@media screen and (max-width: 479px) {
  .content-10 {
    position: relative;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;

    width: auto;
    padding-top: 0px;
    justify-content: center;
    align-items: center;
    align-self: center;

    border: 1px none black;

    background-color: hsla(0, 0.00%, 0.00%, 0.00);

    line-height: 30px;
  }
}

.subheading {
  display: flex;
  width: 118px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 767px) {
  .subheading {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .subheading {
    width: auto;
  }
}

.text-4 {
  font-family: Inter;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0px;
  text-transform: none;
  white-space: nowrap;

  cursor: default;
}

@media screen and (min-width: 1440px) {
  .text-4 {
    font-weight: 500;
  }
}

@media screen and (min-width: 1280px) {
  .text-4 {
    font-weight: 500;
  }
}

@media screen and (max-width: 767px) {
  .text-4 {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .text-4 {
    font-size: 18px;
  }
}

.heading-3 {
  position: static;

  display: flex;
  width: auto;
  max-width: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 767px) {
  .heading-3 {
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .heading-3 {
    width: 80vw;
    font-size: 18px;
  }
}

.heading-4 {
  position: relative;

  font-family: Inter;
  color: hsla(0, 0.00%, 100.00%, 1.00);
  font-size: 40px;
  line-height: 110%;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0em;
}

@media screen and (max-width: 767px) {
  .heading-4 {
    align-self: center;
    font-size: 30px;
    white-space: normal;
  }
}

@media screen and (max-width: 479px) {
  .heading-4 {
    align-self: center;
    font-size: 27px;
    line-height: 130%;
  }
}

.learn-more-block-fit {
  position: relative;

  display: flex;
  margin-top: 0px;
  clear: none;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 6px;

  transition: color 500ms ease;

  font-family: Inter;
  color: hsla(221.99999999999997, 0.00%, 100.00%, 1.00);
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

.learn-more-block-fit:hover {
  color: hsla(221.99999999999997, 0.00%, 100.00%, 1.00);
}

@media screen and (max-width: 767px) {
  .learn-more-block-fit {
    justify-content: center;
    align-self: center;
  }
}

.text-block-12 {
  font-size: 15px;
  font-weight: 500;
}

.learn-shop {
  display: flex;
  width: 100%;
  max-width: 226px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}

@media screen and (max-width: 767px) {
  .learn-shop {
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .learn-shop {
    position: relative;
    z-index: 99;
    width: 70dvw;
    max-width: none;
    align-self: center;
  }
}

.cta-button {
  position: relative;

  display: flex;
  width: 150px;
  height: 45px;
  max-width: 170px;
  padding: 12px 35px;
  justify-content: center;
  align-items: center;
  flex: 0 auto;
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0);
  border-radius: 40px;

  background-color: hsla(211.93548387096774, 0.00%, 100.00%, 1.00);

  transition-property: background-color;
  transition-duration: 300ms;

  text-decoration: none;
}

.cta-button:hover {
  background-color: hsla(211.93548387096774, 54.48%, 31.93%, 1.00);
}

@media screen and (max-width: 767px) {
  .cta-button {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .cta-button {
    width: 40vw;
    height: 40px;
    padding-right: 30px;
    padding-left: 30px;
    align-self: stretch;

    font-size: 13px;
  }
}

.cta-button.custom-now {
  position: relative;

  width: 155px;
  max-width: none;
  padding-left: 35px;

  border-style: none;
  border-color: hsla(0, 0.00%, 78.00%, 1.00);

  background-color: hsla(211.93548387096774, 17.88%, 91.88%, 1.00);
}

.cta-button.custom-now:hover {
  border-color: #1d3a5b;
  background-color: hsla(211.93548387096774, 51.67%, 23.53%, 1.00);
}

@media screen and (max-width: 479px) {
  .cta-button.custom-now {
    align-self: center;
  }
}

.custom-now {
  display: flex;
  width: 100%;
  max-width: 226px;
  justify-content: center;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  font-weight: 400;
}

.cta-button.white {
  width: 175px;
  max-width: 200px;
  transition-duration: 500ms;
}

.cta-button.white:hover {
  background-color: hsla(205, 100.00%, 93.78%, 1.00);
  background-image: linear-gradient(304deg, hsla(0, 0.00%, 0.00%, 0.00), hsla(225, 0.00%, 100.00%, 1.00));
}

@media screen and (max-width: 991px) {
  .cta-button.white {
    width: 50dvw;
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .cta-button.white {
    width: 100%;
    padding-left: 30px;
    align-self: center;
  }
}

.cta-button.white._50 {
  width: 50%;
  max-width: none;
}

@media screen and (max-width: 991px) {
  .cta-button.white._50 {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .cta-button.white._50 {
    width: 50%;
  }
}

.cta-button.blue {
  background-color: #1d3a5b;
}

.cta-button.blue:hover {
  background-color: hsla(211.93548387096774, 56.79%, 25.51%, 1.00);
}

@media screen and (max-width: 479px) {
  .cta-button.blue {
    width: 50%;
    max-width: none;
  }
}

.cta-button.blue._50 {
  width: 50%;
  max-width: none;
}

@media screen and (max-width: 991px) {
  .cta-button.blue._50 {
    width: 50%;
    max-width: none;
  }
}

.shop-catalog {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 100%;
  margin-left: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 0px;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 0 auto;

  border-style: none;
  border-width: 1px;
  border-color: hsla(211.93548387096774, 51.67%, 23.53%, 1.00);

  font-family: Inter;
  color: hsla(211.93548387096774, 0.00%, 0.00%, 1.00);
  font-size: 14px;
  line-height: 139.9999976158142%;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0em;

  object-fit: fill;
}

.shop-catalog:hover {
  color: hsla(211.93548387096774, 51.67%, 23.53%, 1.00);
}

@media screen and (max-width: 767px) {
  .shop-catalog {
    font-size: 14px;
  }
}

@media screen and (max-width: 479px) {
  .shop-catalog {
    margin-right: 0px;
    margin-left: 0px;
    align-items: center;
    flex: 1;

    font-size: 14px;
    white-space: nowrap;
  }
}

.shop-catalog._1 {
  color: hsla(211.93548387096774, 0.00%, 22.00%, 1.00);
}

.shop-catalog._1:hover {
  color: hsla(211.93548387096774, 0.00%, 100.00%, 1.00);
}